*{
    margin: 0 auto;
    padding: 0px 0px;
    font-family: 'Fonce Sans', 'sans-serif';
    font-size: 1em;
    outline: none;
}

:root {
    --colorPrimary: #FCFFFF;
    --colorSecundaryOne: #1f1f1f;
    --colorSecundaryTwo: #F8D86E;

    --green: #5CE7A4;
    --yellow: #F8D86E;
    --red: #F86E6E;
    --white: #FFFFFF;

    --greenDark: #4EB583;
    --yellowDark: #C5AB57;
    --redDark: #DD5858;
}

/* Typography Setting */
.bigTitle { font-size: 5em }
.largeTitle { font-size: 3.5em }
.subTitle { font-size: 2em }
.flowingText { font-size: 1em; line-height: 200%; }

/* Color Setting */
.colorPrimary { width: 200px; height: 200px; background: var(--colorPrimary) }
.colorSecundaryOne { width: 200px; height: 200px; background: var(--colorSecundaryOne); color: #FFF;  }
.colorSecundaryTwo { width: 200px; height: 200px; background: var(--colorSecundaryTwo) }

/* Link's Setting */
.linkLarge { text-decoration: none; font-size: 1.7em; }
.linkMedium { text-decoration: none; font-size: 1.3em; }
.linkSmall { text-decoration: none; font-size: 0.875em; }

/* Button's Setting */
.btnLarge { width: 100%; max-width: 380px; height: 60px; font-size: 1.2em; border-radius: 100px; border: 3px solid; margin: 10px 0px; cursor: pointer; }
.btnMedium { width: 80%; max-width: 200px; height: 50px; border-radius: 100px; margin: 10px 0px; border: 2px solid; margin: 7px 0px; cursor: pointer; }

.btnGreen { background: var(--green); color: var(--white); border-color: var(--green); }
.btnYellow { background: var(--yellow); color: var(--white); border-color: var(--yellow); }
.btnRed { background: var(--red); color: var(--white); border-color: var(--red); }

.btnGreen:hover { background: var(--greenDark); color: var(--white); border-color: var(--greenDark); }
.btnYellow:hover { background: var(--yellowDark); color: var(--white); border-color: var(--yellowDark); }
.btnRed:hover { background: var(--redDark); color: var(--white); border-color: var(--redDark); }

.transition { transition: all .7s ease;}